@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-bg text-text antialiased;
  background-image: radial-gradient(circle at top, rgba(124, 156, 255, 0.2), transparent 35%);
}

input, button {
  @apply outline-none;
}
